%html
	%head
		%title ReadItLater <-> Readability
	%body
		%h2 Shall we do this?
		%p
			When you click on the link below, I'm going to send
			= article_count
			URLs to Readability.
		%p
			Please note, it takes a bit of time for each URL, so be patient and let the page finish loading.
		%p
			%a{:href => '/'} GET ME OUTTA HERE!
		%p
			%a{:href => '/go'} DO IT