%html
	%head
		:css
			body {
				font-family: monospace;
				width: 500px;
				margin: 0 auto;
				text-align: left;
				padding-top: 20px;
			}

		%title ReadItLater <-> Readability
	%body
		%h2 ReadItLater to Readability Thing
		%h3 Please enter your ReadItLater credentials below
		%form{ :action => "/auth", :method => "post"}
			%label{:for => "username"} Username:
			%input{:type => "text", :name => "username"}
			%br/
			%label{:for => "password"} Password:
			%input{:type => "password", :name => "password"}
			%br/
			%input{:type => "submit", :value => "Go", :class => "button"}
