%html
	%head
		:css
			body {
				font-family: monospace;
				width: 500px;
				margin: 0 auto;
				text-align: left;
				padding-top: 20px;
			}

		%title ReadItLater <-> Readability
	%body
		%h2 ReadItLater to Readability Thing
		%h3 Please enter your ReadItLater credentials below
		%form{ :action => "/auth", :method => "post"}
			%label{:for => "username"} Username:
			%input{:type => "text", :name => "username"}
			%br/
			%label{:for => "password"} Password:
			%input{:type => "password", :name => "password"}
			%br/
			%input{:type => "submit", :value => "Make it So", :class => "button"}

		%h4
			Notes
			%ul
				%li I can't promise using this won't set you on fire
				%li I don't save your ReadItLater credentials. If you don't believe me, look at <a href="https://github.com/markchang/readability-importer/blob/master/app.rb#L69">the source</a>
				%li Maybe you want to use the <a href="https://readability-importer.heroku.com">SSL</a> version of this?

			%hr
			%p
				Hacked together by
				%a{:href => 'http://about.me/markchang'} Mark
				%a{:href => 'http://twitter.com/mchang'} @mchang
				%br/
				%a{:href => 'https://github.com/markchang/readability-importer'} Fork this thing
