%html
	%head
		%title ReadItLater <-> Readability
	%body
		%h2 ReadItLater to Readability Thing
		%form{ :action => "/auth", :method => "post"}
			%label{:for => "username"} Username:
			%input{:type => "text", :name => "username"}
			%br/
			%label{:for => "password"} Password:
			%input{:type => "password", :name => "password"}
			%br/
			%input{:type => "submit", :value => "Go", :class => "button"}
